<div class="row">
  <div class="col-12 m-3">
    <h1>Edit User</h1>
  </div>
  <div class="col-12">
	<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :update, @user)) %>
  </div>
</div>
